{% extends 'base.html' %}


    {% block title %}

    KIPKEMOI KEVIN- PORTFOLIO

    {% endblock title %}


    {% block hero %}

    <!-- ======= Hero Section ======= -->
    
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>EXPERTISE IN:</h1>
      <p><span class="typed" data-typed-items="UI/UX Design,Full Stack Development,I.T Support,Digital Marketing,Agile Practitioner"></span></p>
    </div>
  </section><!-- End Hero -->
  
  {% endblock hero %}