{% extends 'base.html' %} 


{% block title %}
 MY PORTFOLIO
{% endblock title %}

{%block stylecss %}



  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"/> 



{% endblock stylecss %} 


{% block body %}

{% load static %}


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p><em> Here are some projects that I have been able to work on in the past.You can also visit my github account for the source code and documentation</em></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\The Report screenshot.png" class="img-fluid" alt="Class Central">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\The Report screenshot.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Class Central Website Translation"><i class="bx bx-plus"></i></a>
                <a href="https://class-central-theta.vercel.app/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\Think Opal.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\Think Opal.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Think Opal Website 1"><i class="bx bx-plus"></i></a>
                <a href="https://thinkopal.vercel.app/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\Think Opal1.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\Think Opal1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Think Opal Website 2"><i class="bx bx-plus"></i></a>
                <a href="https://thinkopal-development.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\mzazi space.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\mzazi space.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Mzazi Space Capstone Project"><i class="bx bx-plus"></i></a>
                <a href="https://oyesa.github.io/MzaziSpace-Frontend/login" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\index.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\index.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Neighbourhood Web App"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/JAREDKEVIN/Neighbourhood-App/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\travel blog.PNG" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\travel blog.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="My Dynamic Travel Blog Website"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/JAREDKEVIN/UDACITY-STARTER-WEBSITE" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\github.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\github.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Github Search Engine"><i class="bx bx-plus"></i></a>
                <a href="https://jaredkevin.github.io/github-search/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\quote.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\quote.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Quote Generator App"><i class="bx bx-plus"></i></a>
                <a href="https://jaredkevin.github.io/Quote-web-app/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="\static\assets\img\portfolio\LOGIN.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="\static\assets\img\portfolio\LOGIN.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Instagram Clone Web App"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/JAREDKEVIN/instagram-app" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p> <em> I have been able to work with some professionals in the past and they had to comment and refer about my previous work exeperience with them </em></p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                He has demonstrated himself to be an exceptional individual
                    with the skills, knowledge, and mindset necessary to succeed. If you have any further questions or
                    require additional information, please do not hesitate to reach out to me.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="\static\assets\img\testimonials\khadija.png" class="testimonial-img" alt="">
                <h3>Khadija Ibrahim</h3>
                <h4><strong>Talent Acquisition Lead @ Sasakazi</strong></h4>
                <h5> Email: khadija@eldohub.co.ke</h5>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I recommend him highly for any position in the IT field that requires complexity and creativity,
                  with high quality requirements.He will do his very best to deliver.
                In my estimation,Kevin is an example of a colleague that 
                  an organization needs, accountable and responsible with superior work ethic and high integrity.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="\static\assets\img\testimonials\charles.png" class="testimonial-img" alt="">
                <h3>Tiberius Atambo</h3>
                <h4><strong>Human Resource Manager</strong> </h4>
                  <h5> Email: beriushr@gmail.com</h5>
              </div>
            </div><!-- End testimonial item -->

             <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Kevin was able to adapt quickly to his work place . He was keen to lean
                  and produce satisfactory results in all areas assigrLed to him. Also, he accepted criticism well and
                  Viewed them as challenges to improve himself He also worked with minimal supervision and took
                  responsibility whenever need arises.
          
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="\static\assets\img\testimonials\Mr.too.png" class="testimonial-img" alt="">
                <h3>Mr. Too</h3>
                <h4><strong>Administrator @Bomet Social Protection Office</strong></h4>
                <h5> Phone: +254722257970</h5>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I was able to collaborate and plan for Think Opal's digital stategy together with Kevin.He was able to 
                  come up with a work in progress plan and also deliver the company's digital assets.During this period he came up with the company's website
                  and used search engine optimization to drive traffic to the website and social media handles.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
        
                <img src="\static\assets\img\testimonials\Harliet.png" class="testimonial-img" alt="">
                <h3>Harliet Njenga</h3>
                <h4><strong>Founder &amp; CEO @Think Opal</strong></h4>
                <h5> Email: harliet@thinkopal.com</h5>
              </div>
            </div><!-- End testimonial item -->

            


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


      

{% endblock body %}