{% extends 'base.html' %} 


{% block title %}
 MY RESUME
{% endblock title %}

{%block stylecss %}



  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"/> 



{% endblock stylecss %} 


{% block body %}

{% load static %}

<!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Also, I am eager to interact with other expert developers and practice good work ethics.<br>Having a broad approach on tackling various problems in the
            development team and also working on industry tasks and projects will
            broaden my capabilities.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Grise Solution Systems</h4>
              <p><em>Innovative and deadline-driven Web Developer with experience designing and developing user-centered digital/web content from initial concept to final, polished deliverables.</em></p>
              <ul>
                <li>Kenya</li>
                <li>+254 704401069</li>
                <li>www.grisesystems.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Software Development Bootcamp </h4>
              <h5>2021 - 2022</h5>
              <p><em>Moringa School, Kenya</em></p>
              <p>Activities and societies: <br>Morning Standups, Evening Checkouts to address Product Backlogs and Team
                 Progress.<br>
                 Project Management Tools E.g., Jira, Trello, Pivotal tracker.<br>
                 Teamwork.</p>
            </div>
            <div class="resume-item">
              <h4>Associate Training in Information Technology</h4>
              <h5>2020 - 2021</h5>
              <p><em>Nairobits Digital School, Kenya</em></p>
              <p>IT support- Google Career Certificates.<br>
                 Project Management- Google Career Certificate.</p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>IT Support Specialist</h4>
              <h5>2023 - Present</h5>
              <p><em>Tech Domain Australia- Remote (Freelance) </em></p>
              <ul>
                <li>Network Configuration. LAN, WAN</li>
                <li>Sofware Installation and Upgrades</li>
                <li>Hardware Maintainace and Troubleshooting</li>
                <li>Troubleshooting and Consultation</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Web Developer</h4>
              <h5>2022 - 2023</h5>
              <p><em>Eldohub- Sasakazi Platform (Contract)</em></p>
              <p> Through the Sasakazi platform powered by Eldo Hub and UK tech Hub Kenya I was able to be matched to
                  an Organization to perform the following:<br>
                  Accomplishments:</p>
              <ul>
                <li>Identifying pain points and coming up with a desired User Interface and Experience.</li>
                <li>Collaborating and providing constant feedback on standup meetings.</li>
                <li>Using search engine optimization keywords on code meta tags and descriptions for easy reach on the
                    web to targeted audiences.</li>
                <li>Version Control using Git and GitHub.</li>
                <li>Designing Illustrations and graphics on Canva.</li>
                <li>Wireframes/Prototyping using Figma.</li>
                <li>Coming up with work in progress deliverables on Trello using Kanban boards.</li>
                <li>Website maintenance.</li>

              </ul>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title"></h3>
            <div class="resume-item">
              <h4>Digital Marketing Specialist</h4>
              <h5>2021-2022</h5>
              <p><em>Nairobi, Kenya </em></p>
              <p>Google My Business is an online platform that allows Businesses to display their Profile on Google. This
                  will allow Business Profiles to appear right when people are searching for such businesses or similar
                  businesses on Google Search or Maps. It will therefore make it easy to create and update your Business
                  Profile — so you can stand out, and bring more customers in</p>
                  <p>I practiced various Digital Marketing strategies such as:</p>
                  
              <ul>


                <li>I used tools for Search Engine Optimization.</li>
                <li>Google Ads. Google AdWords. Google Analytics</li>
                <li>Lead Generation and retention through social media platforms.</li>
                <li>Increased Return on Investment (ROI)</li>
                
        
              </ul>
            </div>
            <div class="resume-item">
              <h4>IT INTERN</h4>
              <h5>2017 - 2018</h5>
              <p><em>Chemserve Cleaning Services</em></p>
              <ul>
                <li>IT Operations</li>
                <li>Database Administration</li>
                <li>Data Entry</li>
                <li>Technical Support</li>
                <li>Software Maintainace</li>
                
                
            </div>
          </div>

        
        </div>

      </div>
    </section><!-- End Resume Section -->

      

{% endblock body %}