{% extends 'base.html' %} 


{% block title %}
SERVICES
{% endblock title %}

{%block stylecss %}



  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"/> 



{% endblock stylecss %} 


{% block body %}

{% load static %}
 <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title"> 
          <h2>Services</h2>
          <p><em>Here are some of my capabilities and what I can be able to deliver</em></p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Content Management</a></h4>
                        <p class="description">Creation and maintainance of online presence</p>
                        <p class="description">Managed online content through metrics and event driven results</p>
                        <p class="description">Map out online campaigns and user research to retain and reach out to potential customers </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Cloud Computing</a></h4>
                        <p class="description">Building of web applications on the AWS platform</p>
                        <p class="description">Watching performance and scaling according to web application interaction</p>
                        <p class="description">Storage of files in the cloud</p>
                        <p class="description">Deployment of web applications using Docker containers.</p>
                        
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-brightness-high "></i></div>
            <h4 class="title"><a href="">Web Design</a></h4>
                        <p class="description">Wireframes and Prototyping</p>
                        <p class="description">Design Implementation (HTML, CSS,SCSS and UI Kits)</p>
                        <p class="description">Responsive Web Development with Bootstrap Framework</p>
                        <p class="description">Design thinking and coming up with creative solutions for better user interfaces and Experiences (UI/UX)</p>



            
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-calendar4-week "></i></div>
            <h4 class="title"><a href="">Agile Project Management</a></h4>
                        <p class="description">Coming up with work in progress plans using Kanban Board/Scrum methodologies</p>
                        <p class="description">Project planning &amp; management for small to large scale projects</p>
                        <p class="description">Sprint planning and retrospectives for iterations</p>
                        <p class="description">Online collaboration and performance measuring </p>
            
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">I.T Support</a></h4>
                        <p class="description"> Troubleshooting of devices such as Laptops and phones</p>
                        <p class="description">Installation or setup of software packages/programs required by clients</p>
                        <p class="description">Network configuration and repair</p>
                        <p class="description">Handling customer tickets through sytems such as Zendesk and Freshworks</p>
                        <p class="description">Training sessions for how to handle new I.T eqiupment and software</p>

          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-binoculars "></i></div>
            <h4 class="title"><a href="">Digital Marketing</a></h4>
                        <p class="description">Managing online content and making sure it reaches target audience</p>
                        <p class="description">Lead generation and customer retention</p>
                        <p class="description">Drive traffic to social media pages and websites</p>
                        <p class="description">Search Engine Optimization</p>

          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
      

{% endblock body %}